@model IEnumerable<Webphukien.Models.SANPHAM>

@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Giới thiệu về Shop của chúng tôi</h2>

<p>Bạn cần những gì cho điện thoại chúng tôi đều có thể đáp ứng ( nếu có).</p>
<p>Và đây cũng chỉ là 1 phần của demo đồ án chúng tôi.</p>
<p>Chúng tôi cũng cần thời gian.</p>
<p>Hãy cho tôi cơ hội nếu có thể ^_^</p>

