@model IEnumerable<Webphukien.Models.SANPHAM>

@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Hãy gọi chúng tôi nếu thật sự cần</h2>


<address>
    HUTECH<br />
    Xa Lo Ha Noi<br />
    <abbr title="Phone">Phone:</abbr>
    077.210.77xx
</address>

<address>
    <strong>Email Hỗ Trợ:</strong>   <a href="mailto:nhonnguyen2901@gmail.com">nhonnguyen2901@gmail.com</a><br />
    <strong>Quảng cáo liên hệ:</strong> <a href="mailto:nhonnguyen2901@gmail.com">nhonnguyen2901@gmail.com</a>
</address>