@model IEnumerable<Webphukien.Models.SANPHAM>
  
@{ 
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>
    Chào bạn đến với Shop chúng tôi
</h2>
@*@foreach(var SANPHAM in Model)
{
    <li>
       
    </li>
}*@
