
@{
    ViewBag.Title = "Xacnhandonhang";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<h2 style="text-align:center">Cảm ơn Quý khách đã mua hàng bên Shop chúng tôi. </h2>
<h2 style="text-align:center">Trân trọng !</h2>
<h3>Đơn hàng quý khách sẽ được giao trong vòng 7 ngày ngoại thành và 24h trong nội thành.</h3>
<p>
    @Html.ActionLink("VỀ TRANG CHỦ", "Index", "Home")
</p>

