@model IEnumerable<Webphukien.Models.HANGDIENTHOAI>

@{
    ViewBag.Title = "QLHDT";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Quản lý hãng điện thoại</h2>

<p>
    @Html.ActionLink("Thêm hãng điện thoại", "ThemHDT")
</p>
<table class="table">
    <tr>
        <th>
           Tên hãng
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TenHDT)
        </td>
        <td>
            @Html.ActionLink("Sửa", "SuaHDT", new { id=item.MaHDT }) |
      
            @Html.ActionLink("Xóa", "XoaHDT", new { id=item.MaHDT })
        </td>
    </tr>
}

</table>
