<!DOCTYPE html>
<html>
<head>
    <title>Đây không phải là lỗi. Mà là tính năng chưa được thêm vào. ^_^ </title>
</head>
<body>
    <hgroup>
        <h1> Vui lòng quay lại trang chủ </h1>
        @Html.ActionLink("Sản Phẩm", "Index", "WebPhuKien")
    </hgroup>
</body>
</html>
