@model IEnumerable<Webphukien.Models.LOAIPHUKIEN>
<p class="lead" style="color: ghostwhite">LOẠI PHỤ KIỆN</p>
<div class="list-group">
    @foreach (var item in Model)
    {
        <a href="@Url.Action("SanPhamTheoPhuKien","WebPhuKien", new {id=item.MaLPK})" class="list-group-item">
            @item.TenPhuKien
        </a>

    }
</div>